# Obtaining table
here I will extract the opt-1.txt and opt-2.txt files and I will handle them as pandas tables.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving opt-table-1.txt to opt-table-1.txt
Saving opt-table-2.txt to opt-table-2.txt

In [ ]:
def title_extracter(filename):
  col_names = []
  with open(filename, 'r') as fh:
    line = fh.readline()
    wd = line.split()
    for i in range(0,len(wd),2):
      col_names.append(wd[i][:-1])
  return col_names

In [ ]:
col_names = title_extracter('opt-table-1.txt')

### Starting with opt-table-1.txt

In [ ]:
table_1 = pd.read_csv('opt-table-1.txt', sep=' ', header=None).iloc[:,1:14:2]

In [ ]:
table_1.head()

             1         3         5         7    9     11     13
0  1.000000e-03  0.999697  0.813152  283228.0  0.0  86.0  168.0
1  1.000000e-04  0.999947  0.958115  283299.0  0.0  15.0  168.0
2  1.000000e-05  0.999968  0.973948  283306.0  1.0   8.0  167.0
3  1.000000e-06  0.999975  0.979565  283308.0  1.0   6.0  167.0
4  1.000000e-07  0.999982  0.985281  283310.0  1.0   4.0  167.0

In [ ]:
or_names = [i for i in range(1,15,2)]

In [ ]:
table_1 = table_1.rename({i:j for i,j in zip(or_names,col_names)}, axis=1) #renaming using the original:new_name mapping

In [ ]:
table_1

             TH        Q2       MCC        TN   FN    FP     TP
0  1.000000e-03  0.999697  0.813152  283228.0  0.0  86.0  168.0
1  1.000000e-04  0.999947  0.958115  283299.0  0.0  15.0  168.0
2  1.000000e-05  0.999968  0.973948  283306.0  1.0   8.0  167.0
3  1.000000e-06  0.999975  0.979565  283308.0  1.0   6.0  167.0
4  1.000000e-07  0.999982  0.985281  283310.0  1.0   4.0  167.0
5  1.000000e-08  0.999986  0.988176  283311.0  1.0   3.0  167.0
6  1.000000e-09  0.999986  0.988088  283312.0  2.0   2.0  166.0
7  1.000000e-10  0.999982  0.985070  283312.0  3.0   2.0  165.0
8  1.000000e-11  0.999982  0.985070  283312.0  3.0   2.0  165.0
9  1.000000e-12  0.999982  0.985070  283312.0  3.0   2.0  165.0

In [ ]:
table_1.to_excel('opt-table1.xlsx', index=False)

In [ ]:
#from google.colab import files
#files.download('opt-table1.csv')

### Now opt-table-2.txt

In [ ]:
table_2 = pd.read_csv('opt-table-2.txt', sep=' ', header=None).iloc[:,1:14:2]

In [ ]:
table_2.head()

             1         3         5         7    9     11     13
0  1.000000e-03  0.999714  0.821283  283234.0  0.0  81.0  168.0
1  1.000000e-04  0.999937  0.950352  283297.0  0.0  18.0  168.0
2  1.000000e-05  0.999972  0.976995  283307.0  0.0   8.0  168.0
3  1.000000e-06  0.999979  0.982410  283310.0  1.0   5.0  167.0
4  1.000000e-07  0.999986  0.988176  283312.0  1.0   3.0  167.0

In [ ]:
table_2 = table_2.rename({i:j for i,j in zip(or_names,col_names)}, axis=1)

In [ ]:
table_2

             TH        Q2       MCC        TN   FN    FP     TP
0  1.000000e-03  0.999714  0.821283  283234.0  0.0  81.0  168.0
1  1.000000e-04  0.999937  0.950352  283297.0  0.0  18.0  168.0
2  1.000000e-05  0.999972  0.976995  283307.0  0.0   8.0  168.0
3  1.000000e-06  0.999979  0.982410  283310.0  1.0   5.0  167.0
4  1.000000e-07  0.999986  0.988176  283312.0  1.0   3.0  167.0
5  1.000000e-08  0.999989  0.991097  283313.0  1.0   2.0  167.0
6  1.000000e-09  0.999989  0.991097  283313.0  1.0   2.0  167.0
7  1.000000e-10  0.999989  0.991097  283313.0  1.0   2.0  167.0
8  1.000000e-11  0.999989  0.991097  283313.0  1.0   2.0  167.0
9  1.000000e-12  0.999989  0.991097  283313.0  1.0   2.0  167.0

In [ ]:
table_2.to_excel('opt-table2.xlsx', index=False)

In [ ]:
table_2.to_csv('opt-table2.csv', index=False)

# Repeating analysis with extended statistics

Now, absolute values will be removed

### Set 1

In [ ]:
col_names = title_extracter('ext_opt-table-1.txt')

In [ ]:
col_names

['TH', 'Q2', 'MCC', 'TN', 'FN', 'FP', 'TP', 'TPR', 'TNR', 'FPR', 'PPV']

In [ ]:
table_1 = pd.read_csv('ext_opt-table-1.txt', sep=' ', header=None).iloc[:,1:22:2]

In [ ]:
len(col_names)

11

In [ ]:
table_1.shape

(10, 11)

In [ ]:
table_1.head()

,1,3,5,7,9,11,13,15,17,19,21
0,1.000000e-03,0.999697,0.813152,283228.0,0.0,86.0,168.0,1.000000,0.999696,0.000304,0.661417
1,1.000000e-04,0.999947,0.958115,283299.0,0.0,15.0,168.0,1.000000,0.999947,0.000053,0.918033
2,1.000000e-05,0.999968,0.973948,283306.0,1.0,8.0,167.0,0.994048,0.999972,0.000028,0.954286
3,1.000000e-06,0.999975,0.979565,283308.0,1.0,6.0,167.0,0.994048,0.999979,0.000021,0.965318
4,1.000000e-07,0.999982,0.985281,283310.0,1.0,4.0,167.0,0.994048,0.999986,0.000014,0.976608

In [ ]:
or_names = [i for i in range(1,22,2)]

In [ ]:
table_1 = table_1.rename({i:j for i,j in zip(or_names,col_names)}, axis=1) #renaming using the original:new_name mapping

In [ ]:
table_1.head()

,TH,Q2,MCC,TN,FN,FP,TP,TPR,TNR,FPR,PPV
0,1.000000e-03,0.999697,0.813152,283228.0,0.0,86.0,168.0,1.000000,0.999696,0.000304,0.661417
1,1.000000e-04,0.999947,0.958115,283299.0,0.0,15.0,168.0,1.000000,0.999947,0.000053,0.918033
2,1.000000e-05,0.999968,0.973948,283306.0,1.0,8.0,167.0,0.994048,0.999972,0.000028,0.954286
3,1.000000e-06,0.999975,0.979565,283308.0,1.0,6.0,167.0,0.994048,0.999979,0.000021,0.965318
4,1.000000e-07,0.999982,0.985281,283310.0,1.0,4.0,167.0,0.994048,0.999986,0.000014,0.976608

In [ ]:
table_1.to_excel('ext_opt-table1.xlsx', index=False)

### Set 2

In [ ]:
col_names = title_extracter('ext_opt-table-2.txt')

In [ ]:
col_names

['TH', 'Q2', 'MCC', 'TN', 'FN', 'FP', 'TP', 'TPR', 'TNR', 'FPR', 'PPV']

In [ ]:
table_1 = pd.read_csv('ext_opt-table-2.txt', sep=' ', header=None).iloc[:,1:22:2]

In [ ]:
len(col_names)

11

In [ ]:
table_1.shape

(10, 11)

In [ ]:
table_1.head()

,1,3,5,7,9,11,13,15,17,19,21
0,1.000000e-03,0.999714,0.821283,283234.0,0.0,81.0,168.0,1.000000,0.999714,0.000286,0.674699
1,1.000000e-04,0.999937,0.950352,283297.0,0.0,18.0,168.0,1.000000,0.999936,0.000064,0.903226
2,1.000000e-05,0.999972,0.976995,283307.0,0.0,8.0,168.0,1.000000,0.999972,0.000028,0.954545
3,1.000000e-06,0.999979,0.982410,283310.0,1.0,5.0,167.0,0.994048,0.999982,0.000018,0.970930
4,1.000000e-07,0.999986,0.988176,283312.0,1.0,3.0,167.0,0.994048,0.999989,0.000011,0.982353

In [ ]:
or_names = [i for i in range(1,22,2)]

In [ ]:
table_1 = table_1.rename({i:j for i,j in zip(or_names,col_names)}, axis=1) #renaming using the original:new_name mapping

In [ ]:
table_1.head()

,TH,Q2,MCC,TN,FN,FP,TP,TPR,TNR,FPR,PPV
0,1.000000e-03,0.999714,0.821283,283234.0,0.0,81.0,168.0,1.000000,0.999714,0.000286,0.674699
1,1.000000e-04,0.999937,0.950352,283297.0,0.0,18.0,168.0,1.000000,0.999936,0.000064,0.903226
2,1.000000e-05,0.999972,0.976995,283307.0,0.0,8.0,168.0,1.000000,0.999972,0.000028,0.954545
3,1.000000e-06,0.999979,0.982410,283310.0,1.0,5.0,167.0,0.994048,0.999982,0.000018,0.970930
4,1.000000e-07,0.999986,0.988176,283312.0,1.0,3.0,167.0,0.994048,0.999989,0.000011,0.982353

In [ ]:
table_1.to_excel('ext_opt-table2.xlsx', index=False)